@{
    ViewBag.Title = "Home Page";
}
<div class="class circle">
    <div class="popover-title">
        <h4 style="text-align-last:center">Searching for the magician that creates trainers out of thin air</h4>
    </div>

    <div class="class circle" style="background-image: url('/img/paisaje-de-rick-y-morty-9415.jpg')" );>




        @Html.Partial("Navbar")
        <div class="row">
            <div class="col-md-4" style="padding:10%">
                <a class="btn btn-default class circle " style="justify-self:right" href="https://github.com/GiannisMonastiriotis/Assignment_2.git">&raquo;Get it from git.. It is fresh! -  GO!</a>



            </div>

        </div>

    </div>


</div>
<p style="padding-top:2%">
    <div class="class circle no-repeat" style="background-image: url('/img/programmer-here-not-a-magician.jpg')" );>
      






        <table class="table table-responsive tableGod">
            <thead class="tableGod">
                <tr>
                    <td scope="col" class="tableGod">
                        Trainer
                    </td>

                </tr>
            </thead>

            @*<tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>*@

        </table>

    </div>
</p>