@{
    ViewBag.Title = "Home Page";
}
<div class="class circle">
    <div class="popover-title">
        <h4 style="text-align-last:center">Searching for the magician that creates trainers out of thin air</h4>
    </div>

    <div  class="class circle" style="background-image: url('/img/paisaje-de-rick-y-morty-9415.jpg')" );>




        @Html.Partial("Navbar")
        <div class="row">
            <div class="col-md-4" style="padding:10%">


                <p ><a class="btn btn-default class circle" style="justify-self:center" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>

        </div>

    </div>


</div>
